<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedme">
    <meta name="author" content="Ren Simmons">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
  <title>FacebookLike | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Fugaz+One' %>
  <%= stylesheet_link_tag "application","//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application","//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
</head>
<body>
<div id="fb-root"></div>
<script>

  (function() {
  jQuery(function() {
    // $('body').prepend('<div id="fb-root"></div>');
    return $.ajax({
      url: "https://connect.facebook.net/en_US/all.js",
      dataType: 'script',
      cache: true
    });
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId: '125644104300196',
      channelUrl : '//localhost:3000/channel.html',
      cookie: true,
      xfbml: true,
      status: true,
      oauth: true
    });
    FB.Event.subscribe("auth.authResponseChange", function(response) {
      // FB.XFBML.parse();
      return FB.getLoginStatus(function(response) {
        return console.log(response.status);
        return false;
      });
    });
    FB.Event.subscribe("edge.create", function(response) {
        return alert('got it');
    });
    $('#sign_in').click(function(e) {
      e.preventDefault();
      return FB.login(function(response) {
        if (response.status = 'connected') {
            FB.api('me/likes/223083117703325', function(response) {
            if (response.data.length === 1) {
              //window.location = '/auth/facebook/callback';
              alert(response.data.length)
            } else {
              $('#user-widget').html('<div class="fb-like" data-href="http://www.facebook.com/BaconSocialMedia" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>');
              // FB.XFBML.parse(document.getElementById('fb-root'));
              FB.XFBML.parse();
              // return FB.XFBML.parse(document.getElementById('user-widget'));
            }
          });
            
          }
      });
    });
    return $('#sign_out').click(function(e) {
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          return FB.logout();
        }
      });
      return true;
    });
  };
// Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
}).call(this);

</script>
<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                  <li>
                        <%= link_to root_path do %>
                        <i class="fa fa-home"></i>
                        <% end %>
                  </li>
                  <li>
                    <%= link_to root_path do %>
                          <i class="fa fa-cog"></i>
                        <% end %>
                  </li>
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    	<div id="page">
		 <% flash.each do |key, value| %>
		 	<div class="alert alert-<%= key %>"><%= value %></div>
		 <% end %>
		<div class="container">
		<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"  %>
    
    <%= link_to "Sign in with Facebook", "/", id: "sign_in" , remote: true %>
  <% end %>
</div>
			<%= yield %>
		</div><!-- container -->
	</div><!-- page -->
</body>
</html>