<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedme">
    <meta name="author" content="Ren Simmons">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
  <title>FacebookLike | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Fugaz+One' %>
  <%= stylesheet_link_tag "application","//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application","//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
</head>
<body>
<!-- <div id="fb-root"></div> -->


<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                  <li>
                        <%= link_to root_path do %>
                        <i class="fa fa-home"></i>
                        <% end %>
                  </li>
                  <li>
                    <%= link_to root_path do %>
                          <i class="fa fa-cog"></i>
                        <% end %>
                  </li>
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    	<div id="page">
		 <% flash.each do |key, value| %>
		 	<div class="alert alert-<%= key %>"><%= value %></div>
		 <% end %>
		<div class="container">
		<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= @name %></strong>!
    <% if @status == 'authorized' %>
    <p>Congrats! Complete the form!</p>
    <% else %>
    <p>You must first like this page!</p>
    <!-- <div class="fb-like" data-href="https://www.facebook.com/K2.Coolers" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> -->
    <div class="fb-like" data-href="https://www.facebook.com/BaconSocialMedia" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <% end %>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"  %>
    <%= link_to 'Sign in with Facebook', @auth_url, :class=>"button" %>
    <%#= link_to "Sign in with Facebook", "/", id: "sign_in" , remote: true %>
  <% end %>
</div>
			<%= yield %>
		</div><!-- container -->
	</div><!-- page -->
</body>
</html>